<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input placeholder="Enter Password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <ion-button
    (click)="onLoginClick()"
    expand="block"
    fill="solid"
    color="primary"
  >
    Login
  </ion-button>

  <ion-text color="primary" (click)="onForgotPass()">
    Forgot Password
  </ion-text>

  <ion-item>
    <ion-input placeholder="Enter OTP" [(ngModel)]="enteredOTP"></ion-input>
  </ion-item>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-button
          (click)="onSendOTP()"
          expand="block"
          fill="solid"
          color="primary"
        >
          Send OTP
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button
          (click)="onLoginWithOTP()"
          expand="block"
          fill="solid"
          color="primary"
        >
          Login with OTP
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->

<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input placeholder="Enter Email or Phone" [(ngModel)]="loginCredentials"></ion-input>
  </ion-item>
  <ion-button (click)="onLoginClick()" expand="block" fill="solid" color="primary"> Login </ion-button>

  {{error}}
</ion-content> -->

<ion-button (click)="onBackClick()" fill="clear" class="back-button">
  <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
</ion-button>

<div class="login">
  <div heading-column-lr>
    <h1 big-heading>Enter</h1>
    <p class="sub-line">Password</p>
    <!-- <h2 small-heading (click)="onRegisterClick()">REGISTER</h2> -->
    <p class="welcome">Please enter correct password to login</p>
  </div>

  <form name="loginForm" #loginForm="ngForm">
    <ion-item transparent>
      <!-- <ion-icon icon-small name="person" color="primary"></ion-icon> -->
      <ion-input
        name="emailId"
        [(ngModel)]="password"
        #emailId="ngModel"
        email
        required
        [type]="inputType"
        placeholder="Enter Password"
      ></ion-input>
      <ion-icon
        [name]="iconName"
        slot="end"
        (click)="changeInputType()"
      ></ion-icon>
    </ion-item>
    <!-- <div *ngIf="emailId.invalid && (emailId.dirty || emailId.touched)">
      <ion-text color="danger" *ngIf="emailId.errors.required"
        >Enter password</ion-text
      >
    </div> -->
    <div *ngIf="showErrorMessage">
      <ion-text color="danger">Wrong password</ion-text>
    </div>

    <!-- <ion-label class="forgot-password" (click)="onForgotPass()"
      >Forgot Password</ion-label
    > -->
    <div style="height: 30px"></div>

    <ion-button
      color="primary"
      class="ion-button-class"
      size="large"
      expand="block"
      fill="solid"
      shape="round"
      (click)="onLogin()"
    >
      Login
    </ion-button>
  </form>
</div>

<ion-label class="forgot-pass" (click)="onForgotPassClick()"
  >Forgot password ?</ion-label
>

<ion-label class="version"> Version 1.0 </ion-label>
