<ion-header>
  <ion-toolbar
    color="primary"
    mode="ios"
    *ngIf="storageService.instituteName.length > 0"
  >
    <ion-title>{{storageService.instituteName}}</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons class="menuButton" slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher>
  <ion-card
    class="ion-margin ion-padding"
    *ngFor="let notice of noticeDetails"
    (click)="onNotificationClick(notice.ID)"
  >
    <ion-item
      class="ion-no-margin ion-no-padding"
      lines="none"
      [ngStyle]="{'font-weight': notice.NStatus == 'Unread' ? 'bold' : '400'}"
    >
      <ion-label>{{notice.NBody}}</ion-label>
      <ion-label slot="end" class="ion-text-right">{{notice.NDate}}</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
