.welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17vw;
    font-weight: 700;
    font-family: serif;
}

.image {
    position: absolute;
    left: 50%;
    top: 27%;
    transform: translatex(-50%);
    height: 60vw;
} 

.heading {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translatex(-50%);
    font-size: 8vw;
    font-weight: bold;
    font-family: serif;
    width: 100%;
    text-align: center;
}

.sub-heading {
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translatex(-50%);
    font-size: 5vw;
    font-family: serif;
    width: 100%;
    text-align: center;
}