<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons class="menuButton" slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-label class="welcome" color="primary">Welcome</ion-label>
  <!-- <img class="image" [src]="'assets/images/logo.png'" />
  <ion-label class="heading" color="primary">P K Foundation's</ion-label>
  <ion-label class="sub-heading" color="primary"
    >JEE, NEET, MHT-CET Preparatory Course</ion-label
  > -->
</ion-content>
