<ion-header [hidden]="testView == false">
  <ion-toolbar class="toolbar" color="primary">
    <ion-icon
      *ngIf="testSubmitted == true || page == 'bookmark'"
      slot="start"
      class="ion-margin-start"
      (click)="onBackClick()"
      name="arrow-back-outline"
      size="large"
    >
    </ion-icon>
    <ion-label style="font-size: 20px" class="ion-margin-start">
      {{index + 1}}/{{questionsList.length}}
    </ion-label>
    <ion-item
      [hidden]="testSubmitted == true || page == 'bookmark'"
      lines="none"
      slot="end"
      class="ion-margin-end ion-no-margin-bottom ion-no-padding"
      color="primary"
    >
      <ion-label class="ion-margin-start" style="font-size: 20px">
        <ion-text color="light" id="timer">00:00</ion-text>
      </ion-label>
    </ion-item>
    <ion-item
      *ngIf="page == 'saved-test' && testSubmitted == true"
      lines="none"
      slot="end"
      class="ion-margin-end ion-no-margin-bottom ion-no-padding"
      color="primary"
      style="width: 100px"
    >
      <ion-label class="ion-no-margin">
        <ion-text color="light">{{testGivenDate}}</ion-text>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-item
  class="ion-no-margin-top header-item"
  color="primary"
  [hidden]="testView == false"
>
  <!-- <ion-label
    *ngIf="(page == 'unit-test' || page == 'paused-test' || page == 'question-papers') && testSubmitted == false"
    class="ion-margin-start"
    (click)="testInfo()"
    >{{testType}}</ion-label
  > -->
  <ion-label
    *ngIf="(page == 'saved-test' || page == 'unit-test') && testSubmitted == true"
    >{{questionStatus}}</ion-label
  >

  <!-- <ion-icon
    slot="end"
    [name]="bookmarkIcon"
    size="default"
    *ngIf="(page == 'unit-test' || page == 'saved-test')"
    (click)="bookmark()"
  ></ion-icon> -->
  <ion-icon
    slot="end"
    name="list-circle-outline"
    class="ion-margin-end"
    size="default"
    *ngIf="testSubmitted==false"
    (click)="go()"
  ></ion-icon>
</ion-item>

<ion-content class="ion-no-padding" [hidden]="testView == false">
  <div class="marking" *ngIf="page != 'saved-test'">
    <ion-text color="success" *ngIf="testDetails.TestType == '1'">
      {{ testDetails.NeetCorrect }}.0
    </ion-text>
    <ion-text
      color="success"
      *ngIf="testDetails.TestType == '2' || testDetails.TestType == '4'"
    >
      {{ showInputBox ? testDetails.JeeNewCorrect : testDetails.JeeCorrect}}.0
    </ion-text>
    <ion-text
      color="success"
      *ngIf="testDetails.TestType == '3' || testDetails.TestType == '5'"
    >
      {{ SubjectTestId == 1 || SubjectTestId == 2 || SubjectTestId == 4 ? "1" :
      "2"}}.0
    </ion-text>
    ,
    <ion-text color="danger" *ngIf="testDetails.TestType == '1'">
      -{{testDetails.NeetInCorrect}}.0
    </ion-text>
    <ion-text
      color="danger"
      *ngIf="testDetails.TestType == '2' || testDetails.TestType == '4'"
    >
      -{{showInputBox ? testDetails.JeeNewInCorrect :
      testDetails.JeeInCorrect}}.0
    </ion-text>
    <ion-text
      color="danger"
      *ngIf="testDetails.TestType == '3' || testDetails.TestType == '5'"
    >
      0.0
    </ion-text>
  </div>

  <!-- <div class="marking" *ngIf="page == 'saved-test'">
    <ion-text color="success" *ngIf="testType == '1'">
      {{ testDetails.NeetCorrect }}.0
    </ion-text>
    <ion-text
      color="success"
      *ngIf="testDetails.TestType == '2' || testDetails.TestType == '4'"
    >
      {{ showInputBox ? testDetails.JeeNewCorrect : testDetails.JeeCorrect}}.0
    </ion-text>
    <ion-text color="success" *ngIf="testDetails.TestType == '3'">
      {{ SubjectTestId == 1 || SubjectTestId == 2 || SubjectTestId == 4 ? "1" :
      "2"}}.0
    </ion-text>
    ,
    <ion-text color="danger" *ngIf="testDetails.TestType == '1'">
      -{{testDetails.NeetInCorrect}}.0
    </ion-text>
    <ion-text
      color="danger"
      *ngIf="testDetails.TestType == '2' || testDetails.TestType == '4'"
    >
      -{{showInputBox ? testDetails.JeeNewInCorrect :
      testDetails.JeeInCorrect}}.0
    </ion-text>
    <ion-text color="danger" *ngIf="testDetails.TestType == '3'">
      0.0
    </ion-text>
  </div> -->
  <ion-item lines="none" class="ion-no-padding ion-no-margin">
    <ion-label
      class="ion-text-wrap ion-margin-start ion-margin-end ion-no-padding"
      style="overflow-x: scroll"
    >
      <ion-text id="question"></ion-text>
    </ion-label>
  </ion-item>

  <ion-item
    style="display: block"
    lines="none"
    class="ion-no-padding ion-no-margin ion-margin-start"
    [hidden]="questionImage"
  >
    <img id="queImg" [src]="questionImagePath" />
  </ion-item>

  <ion-item class="ion-no-padding ion-no-margin" *ngIf="iconCount == 1">
    <ion-icon class="ion-margin-start" name="star" color="warning"></ion-icon>
  </ion-item>

  <ion-item class="ion-no-padding ion-no-margin" *ngIf="iconCount == 2">
    <ion-icon class="ion-margin-start" name="star" color="warning"></ion-icon>
    <ion-icon name="star" color="warning"></ion-icon>
  </ion-item>

  <ion-item class="ion-no-padding ion-no-margin" *ngIf="iconCount == 3">
    <ion-icon class="ion-margin-start" name="star" color="warning"></ion-icon>
    <ion-icon name="star" color="warning"></ion-icon>
    <ion-icon name="star" color="warning"></ion-icon>
  </ion-item>

  <div [hidden]="showInputBox">
    <ion-item
      (click)="clickOpt1()"
      class="ion-no-padding"
      [style]="option == 'A' ? '--border-color: var(--ion-color-success);' : (inCorrOption == 'A' ? '--border-color: var(--ion-color-danger);' : '')"
      [hidden]="!optionImage"
    >
      <ion-grid>
        <ion-row>
          <ion-col size="1.5">
            <div
              [style]="option == 'A' ? 'background-color: var(--ion-color-success);' : (inCorrOption == 'A' ? 'background-color: var(--ion-color-danger);' : 'background-color: var(--ion-color-primary);')"
              class="options ion-no-margin ion-no-padding ion-text-center"
              lines="none"
            >
              <ion-text color="light"> A </ion-text>
            </div>
          </ion-col>
          <ion-col size="10.5">
            <ion-label
              class="ion-text-wrap ion-padding-start"
              style="overflow-x: scroll"
            >
              <ion-text
                class="opt"
                id="opt1"
                style="overflow-x: scroll"
              ></ion-text>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item
      (click)="clickOpt2()"
      class="ion-no-padding"
      [style]="option == 'B' ? '--border-color: var(--ion-color-success);' : (inCorrOption == 'B' ? '--border-color: var(--ion-color-danger);' : '')"
      [hidden]="!optionImage"
    >
      <ion-grid>
        <ion-row>
          <ion-col size="1.5">
            <div
              [style]="option == 'B' ? 'background-color: var(--ion-color-success);' : (inCorrOption == 'B' ? 'background-color: var(--ion-color-danger);' : 'background-color: var(--ion-color-primary);')"
              class="options ion-no-margin ion-no-padding ion-text-center"
              lines="none"
            >
              <ion-text color="light"> B </ion-text>
            </div>
          </ion-col>
          <ion-col size="10.5">
            <ion-label
              class="ion-text-wrap ion-padding-start"
              style="overflow-x: scroll"
            >
              <ion-text
                class="opt"
                id="opt2"
                style="overflow-x: scroll"
              ></ion-text>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item
      (click)="clickOpt3()"
      class="ion-no-padding"
      [style]="option == 'C' ? '--border-color: var(--ion-color-success);' : (inCorrOption == 'C' ? '--border-color: var(--ion-color-danger);' : '')"
      [hidden]="!optionImage"
    >
      <ion-grid>
        <ion-row>
          <ion-col size="1.5">
            <div
              [style]="option == 'C' ? 'background-color: var(--ion-color-success);' : (inCorrOption == 'C' ? 'background-color: var(--ion-color-danger);' : 'background-color: var(--ion-color-primary);')"
              class="options ion-no-margin ion-no-padding ion-text-center"
              lines="none"
            >
              <ion-text color="light"> C </ion-text>
            </div>
          </ion-col>
          <ion-col size="10.5">
            <ion-label
              class="ion-text-wrap ion-padding-start"
              style="overflow-x: scroll"
            >
              <ion-text
                class="opt"
                id="opt3"
                style="overflow-x: scroll"
              ></ion-text>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item
      (click)="clickOpt4()"
      class="ion-no-padding"
      [style]="option == 'D' ? '--border-color: var(--ion-color-success);' : (inCorrOption == 'D' ? '--border-color: var(--ion-color-danger);' : '')"
      [hidden]="!optionImage"
    >
      <ion-grid>
        <ion-row>
          <ion-col size="1.5">
            <div
              [style]="option == 'D' ? 'background-color: var(--ion-color-success);' : (inCorrOption == 'D' ? 'background-color: var(--ion-color-danger);' : 'background-color: var(--ion-color-primary);')"
              class="options ion-no-margin ion-no-padding ion-text-center"
              lines="none"
            >
              <ion-text color="light"> D </ion-text>
            </div>
          </ion-col>
          <ion-col size="10.5">
            <ion-label
              class="ion-text-wrap ion-padding-start"
              style="overflow-x: scroll"
            >
              <ion-text
                class="opt"
                id="opt4"
                style="overflow-x: scroll"
              ></ion-text>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item
      style="display: block"
      lines="none"
      class="ion-no-padding ion-no-margin ion-margin-start"
      [hidden]="optionImage"
    >
      <img id="queImg" [src]="optionImagePath" />
    </ion-item>

    <ion-grid [hidden]="optionImage">
      <ion-row>
        <ion-col push="0.75" size="3">
          <div
            (click)="clickOpt1()"
            [style]="option == 'A' ? 'background-color: var(--ion-color-success);' : (inCorrOption == 'A' ? 'background-color: var(--ion-color-danger);' : 'background-color: var(--ion-color-primary);')"
            class="options1 ion-no-margin ion-no-padding ion-text-center"
            lines="none"
          >
            <ion-text color="light"> 1 </ion-text>
          </div>
        </ion-col>
        <ion-col push="0.75" size="3">
          <div
            (click)="clickOpt2()"
            [style]="option == 'B' ? 'background-color: var(--ion-color-success);' : (inCorrOption == 'B' ? 'background-color: var(--ion-color-danger);' : 'background-color: var(--ion-color-primary);')"
            class="options1 ion-no-margin ion-no-padding ion-text-center"
            lines="none"
          >
            <ion-text color="light"> 2 </ion-text>
          </div>
        </ion-col>
        <ion-col push="0.75" size="3">
          <div
            (click)="clickOpt3()"
            [style]="option == 'C' ? 'background-color: var(--ion-color-success);' : (inCorrOption == 'C' ? 'background-color: var(--ion-color-danger);' : 'background-color: var(--ion-color-primary);')"
            class="options1 ion-no-margin ion-no-padding ion-text-center"
            lines="none"
          >
            <ion-text color="light"> 3 </ion-text>
          </div>
        </ion-col>
        <ion-col push="0.75" size="3">
          <div
            (click)="clickOpt4()"
            [style]="option == 'D' ? 'background-color: var(--ion-color-success);' : (inCorrOption == 'D' ? 'background-color: var(--ion-color-danger);' : 'background-color: var(--ion-color-primary);')"
            class="options1 ion-no-margin ion-no-padding ion-text-center"
            lines="none"
          >
            <ion-text color="light"> 4 </ion-text>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div [hidden]="!showInputBox">
    <ion-grid class="ion-no-padding ion-no-margin">
      <ion-row>
        <ion-col size="7">
          <ion-item>
            <ion-label class="input-label">Answer:</ion-label>
            <ion-input
              [(ngModel)]="answer"
              (ionChange)="onAnswerChange()"
              class="input"
              [disabled]="testSubmitted"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="5">
          <ion-item>
            <ion-label class="input-label">Unit:</ion-label>
            <ion-input
              [(ngModel)]="unit"
              (ionChange)="onUnitChange()"
              class="input"
              [disabled]="testSubmitted || answer.length == 0"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-item
    *ngIf="testSubmitted == true || page == 'bookmark'"
    class="ion-no-padding ion-no-margin"
    lines="none"
  >
    <ion-label class="ion-text-center">
      <ion-text color="primary"> SOLUTION </ion-text>
    </ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-label
      style="overflow-x: scroll"
      class="ion-text-wrap"
      id="hint"
    ></ion-label>
  </ion-item>

  <ion-item
    style="display: block"
    lines="none"
    class="ion-no-padding ion-no-margin ion-margin-start ion-margin-bottom"
    [hidden]="hintImage"
  >
    <img id="queImg" [src]="hintImagePath" />
  </ion-item>
</ion-content>

<!-- Result Section -->

<ion-content
  [hidden]="testView == true"
  style="--background: rgba(0, 0, 0, 0.2)"
  class="ion-no-padding"
>
  <div class="div ion-no-padding">
    <ion-icon
      class="div-icon"
      name="close"
      (click)="exitTest()"
      size="large"
      color="light"
    ></ion-icon>
    <!-- <ion-avatar class="avatar">
      <img [src]="storageServiceService.userInfo.imageData" />
    </ion-avatar> -->

    <ion-card class="div-card">
      <ion-card-content class="ion-no-padding">
        <ion-item class="ion-no-padding item-margin">
          <ion-label
            class="ion-text-center"
            style="font-weight: bold; font-size: 4vw"
          >
            {{storageService.userDetails.studentName}}
          </ion-label>
        </ion-item>
        <ion-item class="ion-no-margin ion-no-padding" lines="none">
          <ion-label
            style="font-weight: bold; font-size: 4vw"
            class="ion-text-center"
          >
            {{testTitle}}
          </ion-label>
        </ion-item>

        <div color="primary" class="score-card">
          <div class="inner-div" style="width: 100%">
            <ion-label
              class="ion-text-center"
              style="font-weight: bold; font-size: 4vw; margin-top: 2vw"
            >
              <ion-text color="light"> SCORE </ion-text>
            </ion-label>
          </div>

          <div class="inner-div" style="width: 100%">
            <ion-label
              class="ion-text-center"
              style="font-weight: bold; font-size: 6vw"
            >
              <ion-text color="light"> {{totalMarks}} </ion-text>
            </ion-label>
          </div>
          <div class="inner-div" style="width: 100%">
            <ion-label
              class="ion-text-center"
              style="font-weight: bold; font-size: 4vw; margin-bottom: 2vw"
            >
              <ion-text color="light"> Out of {{outOfMarks}} </ion-text>
            </ion-label>
          </div>
        </div>
        <ion-item class="ion-no-padding">
          <ion-label
            class="ion-text-center"
            style="font-weight: bold; font-size: 4vw"
            >Time Taken: {{totalMins}} min, {{totalSecs}} sec
          </ion-label>
        </ion-item>
        <!-- <ion-item class="ion-no-padding" lines="none">
          <ion-label
            class="ion-text-center"
            style="font-weight: bold; font-size: 4vw"
            >Correct: {{corrMarks}} marks
          </ion-label>
          <ion-label
            class="ion-text-center"
            style="font-weight: bold; font-size: 4vw"
            >Incorrect: -{{inCorrMarks}} marks
          </ion-label>
        </ion-item> -->
      </ion-card-content>
    </ion-card>

    <div class="div2">
      <ion-card class="div2-card ion-margin">
        <ion-card-content class="ion-no-padding ion-padding-bottom">
          <ion-item class="ion-no-padding">
            <ion-label class="ion-text-center">
              <ion-text color="success"> Correct: {{correctPer}}% </ion-text>
            </ion-label>
            <ion-label class="ion-text-center">
              <ion-text color="danger"> Incorrect: {{inCorrectPer}}% </ion-text>
            </ion-label>
            <ion-label class="ion-text-center">
              <ion-text color="primary"> Skipped: {{skippedPer}}% </ion-text>
            </ion-label>
          </ion-item>
          <canvas #pieChart1></canvas>
          <ion-item class="ion-no-padding">
            <ion-icon
              class="ion-margin-start"
              slot="start"
              name="checkmark"
              color="success"
            ></ion-icon>
            <ion-label style="font-weight: bold"> Correct </ion-label>
            <ion-badge color="success">{{correctQuestions}}</ion-badge>
          </ion-item>
          <ion-item class="ion-no-padding">
            <ion-icon
              class="ion-margin-start"
              name="close-circle"
              color="danger"
              slot="start"
            ></ion-icon>
            <ion-label style="font-weight: bold"> Incorrect </ion-label>
            <ion-badge color="danger">{{inCorrectQuestions}}</ion-badge>
          </ion-item>
          <ion-item class="ion-no-padding" lines="none">
            <ion-icon
              class="ion-margin-start"
              name="chevron-forward-circle"
              color="primary"
              slot="start"
            ></ion-icon>
            <ion-label style="font-weight: bold"> Skipped </ion-label>
            <ion-badge color="primary">{{skippedQuestions}}</ion-badge>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card class="div2-card ion-margin">
        <ion-card-content class="ion-no-padding ion-padding-bottom">
          <ion-item class="ion-no-padding">
            <ion-label class="ion-text-center">
              <ion-text color="success"> Accuracy: {{accuracy}}% </ion-text>
            </ion-label>
          </ion-item>
          <canvas #pieChart2></canvas>
        </ion-card-content>
      </ion-card>

      <ion-card class="div2-card ion-margin-start ion-margin-end">
        <ion-card-content class="ion-no-padding ion-padding-bottom">
          <ion-item class="ion-no-padding">
            <ion-label class="ion-text-center">
              <ion-text color="primary" color="success">
                Score: {{score}}%
              </ion-text>
            </ion-label>
          </ion-item>
          <canvas #pieChart3></canvas>
        </ion-card-content>
      </ion-card>

      <ion-card class="div2-card ion-margin">
        <ion-card-content class="ion-no-padding ion-padding-bottom">
          <ion-item class="ion-no-padding">
            <ion-label class="ion-text-center">Question Analysis</ion-label>
          </ion-item>
          <ion-item class="ion-no-padding" lines="none">
            <ion-label class="ion-text-center">
              <ion-text color="primary" color="success">
                Correct({{correctQuestions}})
              </ion-text>
            </ion-label>
            <ion-label class="ion-text-center">
              <ion-text color="primary" color="danger">
                Incorrect({{inCorrectQuestions}})
              </ion-text>
            </ion-label>
            <ion-label class="ion-text-center">
              <ion-text color="primary" color="primary">
                Skipped({{skippedQuestions}})
              </ion-text>
            </ion-label>
          </ion-item>
          <ion-grid>
            <ion-row>
              <ion-col
                size="2.4"
                *ngFor="let question of questionsList; let i=index"
              >
                <ion-card
                  [color]="question.userAns == question.Answer || (question.userNumericalAns == question.Numerical_Answer && question.userUnit == question.Unit) ? 'success' : ((question.QuestionType !=3 && question.userAns == '' || question.userAns == 'Unsolved') || (question.QuestionType == 3 && question.userNumericalAns == '') ? 'primary' : 'danger')"
                  class="card"
                  (click)="selectQuestion(i)"
                >
                  <ion-label class="ion-text-center" style="height: auto"
                    >{{i + 1}}</ion-label
                  >
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>

      <ion-card class="div2-card ion-margin ion-padding">
        <ion-button
          (click)="solution()"
          expand="block"
          fill="solid"
          color="primary"
        >
          SOLUTION
        </ion-button>
      </ion-card>
    </div>
  </div>
</ion-content>

<ion-toolbar
  class="footer-item ion-no-margin-bottom"
  color="primary"
  lines="none"
  [hidden]="testView == false"
>
  <ion-grid class="ion-no-margin ion-no-padding">
    <ion-row>
      <ion-col size="12">
        <ion-toolbar color="primary">
          <ion-icon
            class="ion-margin-start"
            slot="start"
            name="chevron-back-circle-outline"
            size="large"
            (click)="previous()"
          >
          </ion-icon>
          <ion-button
            *ngIf="testSubmitted == false && (page == 'unit-test')"
            color="light"
            class="toolbar-btn ion-text-wrap"
            (click)="clear()"
            fill="outline"
            expand="block"
            [disabled]="selectionCleared == false"
          >
            Clear Selection
          </ion-button>
          <ion-icon
            class="ion-margin-end"
            slot="end"
            name="chevron-forward-circle-outline"
            size="large"
            (click)="next()"
          >
          </ion-icon>
        </ion-toolbar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button
          class="ion-no-margin-top"
          expand="block"
          fill="solid"
          color="primary"
          class="footer-btn"
          size="default"
          (click)="onSubmit()"
          *ngIf="testSubmitted==false && (page == 'unit-test')"
        >
          Submit Test
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>
