<ion-header>
  <ion-toolbar
  color="primary"
  mode="ios"
  *ngIf="storageService.instituteName.length > 0"
>
  <ion-title>{{storageService.instituteName}}</ion-title>
</ion-toolbar>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons class="menuButton" slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Tests</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment
      color="primary"
      [(ngModel)]="selectedView"
      class="ion-no-padding item"
      (ionChange)="onViewChange($event)"
    >
      <ion-segment-button value="0">
        <ion-label style="font-size: 3vw">Live Tests</ion-label>
      </ion-segment-button>
      <ion-segment-button value="1">
        <ion-label style="font-size: 3vw">Recent Tests</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher>

  <ion-slides
    #slides
    mode="md"
    pager="false"
    class="slides"
    [options]="sliderOptions"
    (ionSlideDidChange)="slideChanged(slides)"
    (ionSlidesDidLoad)="slideChanged(slides)"
  >
    <ion-slide class="slide">
      <ion-grid class="ion-no-padding ion-no-margin">
        <ion-row>
          <ion-col size="12">
            <div *ngFor="let notification of notifications">
              <ion-card
                *ngIf="notification.Status == 'Unread'"
                class="ion-padding"
                (click)="onTestClick(notification)"
              >
                <ion-card-title>{{notification.Title}}</ion-card-title>
                <ion-card-content>
                  <ion-item lines="none" class="ion-no-margin ion-no-padding">
                    <ion-label>{{notification.TestDate}}</ion-label> <br />
                    <ion-label>{{notification.StartTime}}</ion-label>
                    <ion-icon
                      name="checkmark-circle"
                      slot="end"
                      color="success"
                    ></ion-icon>
                  </ion-item>
                </ion-card-content>
              </ion-card>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide class="slide">
      <ion-grid class="ion-no-padding ion-no-margin">
        <ion-row>
          <ion-col size="12">
            <div *ngFor="let notification of notifications">
              <ion-card
                *ngIf="notification.Status != 'Unread'"
                class="ion-padding"
              >
                <ion-card-title>{{notification.Title}}</ion-card-title>
                <ion-card-content>
                  <ion-item lines="none" class="ion-no-margin ion-no-padding">
                    <ion-label>{{notification.TestDate}}</ion-label> <br />
                    <ion-label>{{notification.StartTime}}</ion-label>
                    <ion-icon
                      name="checkmark-circle"
                      slot="end"
                      color="danger"
                    ></ion-icon>
                  </ion-item>
                </ion-card-content>
              </ion-card>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
