<ion-header>
  <ion-toolbar class="toolbar" color="primary">
    <ion-label class="ion-margin-start" style="font-size: 4vw">
      <ion-text> Answered({{ answeredQuestions.length }}) </ion-text>
      <ion-text> / </ion-text>
      <ion-text>
        Not-Answered({{ totalQuestions.length - answeredQuestions.length }})
      </ion-text>
    </ion-label>
    <ion-button
      style="margin-right: 10px"
      (click)="closeQuestionPanel()"
      expand="block"
      fill="clear"
      color="light"
      slot="end"
    >
      Close
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="height: 77vh">
    <ion-row>
      <ion-col
        size="2.4"
        *ngFor="let question of questionArray"
        style="padding: 10px"
      >
        <div
          class="card"
          (click)="selectQuestion(question.index)"
          [style]="
            question.answered != ''
              ? 'background: var(--ion-color-success);'
              : 'background: var(--ion-color-primary);'
          "
        >
          <ion-label
            class="ion-text-center ion-no-margin ion-no-padding"
            style="height: auto"
            >{{ question.index + 1 }}</ion-label
          >
          <span *ngIf="question.index == index" class="badge"></span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
