<ion-button (click)="onBackClick()" fill="clear" class="back-button">
  <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
</ion-button>
<div class="login">
  <div heading-column-lr *ngIf="forgotPassword">
    <h1 big-heading>Code</h1>
    <p class="sub-line">Authentication</p>
    <!-- <h2 small-heading (click)="onRegisterClick()">REGISTER</h2> -->
    <p class="welcome">Please enter security code</p>
  </div>

  <div heading-column-lr *ngIf="!forgotPassword">
    <h1 big-heading>Login</h1>
    <p class="sub-line">with Code</p>
    <!-- <h2 small-heading (click)="onRegisterClick()">REGISTER</h2> -->
    <p class="welcome">Please enter security code</p>
  </div>

  <ion-label *ngIf="showSecurityCode" color="danger">Your security code is {{securityCode}}</ion-label>

  <form name="loginForm" #loginForm="ngForm">
    <ion-grid fixed class="ion-no-margin ion-no-padding">
      <ion-row>
        <ion-col size="3">
          <ion-item transparent class="otp-field">
            <!-- <ion-icon icon-small name="person" color="primary"></ion-icon> -->
            <ion-input
              #otpField1
              name="otp1"
              required
              type="text"
              maxlength="1"
              [(ngModel)]="otp1"
              (keyup)="move(otpField2, $event)"
            ></ion-input> </ion-item
        ></ion-col>
        <ion-col size="3">
          <ion-item transparent class="otp-field">
            <!-- <ion-icon icon-small name="person" color="primary"></ion-icon> -->
            <ion-input
              #otpField2
              name="otp2"
              required
              type="text"
              maxlength="1"
              [(ngModel)]="otp2"
              (keyup)="move(otpField3, $event)"
            ></ion-input> </ion-item
        ></ion-col>
        <ion-col size="3">
          <ion-item transparent class="otp-field">
            <!-- <ion-icon icon-small name="person" color="primary"></ion-icon> -->
            <ion-input
              #otpField3
              name="otp3"
              required
              type="text"
              maxlength="1"
              [(ngModel)]="otp3"
              (keyup)="move(otpField4, $event)"
            ></ion-input> </ion-item
        ></ion-col>
        <ion-col size="3">
          <ion-item transparent class="otp-field">
            <!-- <ion-icon icon-small name="person" color="primary"></ion-icon> -->
            <ion-input
              #otpField4
              name="otp4"
              required
              type="text"
              maxlength="1"
              [(ngModel)]="otp4"
              (keyup)="move(otpField4, $event)"
            ></ion-input> </ion-item
        ></ion-col>
      </ion-row>
    </ion-grid>

    <!-- <div *ngIf="emailId.invalid && (emailId.dirty || emailId.touched)">
      <ion-text color="danger" *ngIf="emailId.errors.required"
        >Enter password</ion-text
      >
    </div> -->
    <div *ngIf="showErrorMessage">
      <ion-text color="danger">Invalid Code</ion-text>
    </div>

    <!-- <ion-label class="forgot-password" (click)="onForgotPass()"
      >Forgot Password</ion-label
    > -->
    <div style="height: 30px"></div>

    <ion-button
      *ngIf="forgotPassword"
      color="primary"
      class="ion-button-class"
      size="large"
      expand="block"
      fill="solid"
      shape="round"
      (click)="onContinueClick()"
    >
      Continue
    </ion-button>

    <ion-button
      *ngIf="!forgotPassword"
      color="primary"
      class="ion-button-class"
      size="large"
      expand="block"
      fill="solid"
      shape="round"
      (click)="onContinueClick1()"
    >
      Continue
    </ion-button>
  </form>
</div>

<ion-label class="version"> Version 1.0 </ion-label>
