<ion-header>
  <ion-toolbar
  color="primary"
  mode="ios"
  *ngIf="storageService.instituteName.length > 0"
>
  <ion-title>{{storageService.instituteName}}</ion-title>
</ion-toolbar>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons class="menuButton" slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Videos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher>
  <ion-item>
    <ion-select
      [(ngModel)]="selectedSubject"
      interface="popover"
      (ionChange)="onSelectChange()"
    >
      <ion-select-option
        *ngFor="let sub of subjectDetails"
        [value]="sub.subjectId"
        >{{sub.subjectName}}</ion-select-option
      >
    </ion-select>
  </ion-item>

  <ion-card
    class="ion-margin ion-padding"
    *ngFor="let video of videoInfo"
    (click)="onVideoClick(video.Link)"
  >
    <ion-item lines="none" class="ion-no-margin ion-no-padding">
      <ion-thumbnail slot="start">
        <ion-img
          [src]="'http://test.onlineexamkatta.com/Images/VideoCourseLinkImage/' + video.FileName"
        ></ion-img>
      </ion-thumbnail>
      <ion-label>
        {{video.Description}}</ion-label
      >
    </ion-item>
  </ion-card>
</ion-content>

<!-- <ion-button (click)="onClick('SsrYSeg371s')" expand="block" fill="clear" shape="round">
  Open youtube
</ion-button> -->

<!-- <head>
  <script src="https://cdn.plyr.io/3.6.2/plyr.js"></script>
  <link rel="stylesheet" href="https://cdn.plyr.io/3.6.2/plyr.css" />
</head>

<body>
 PLYR
  <div class="plyr__video-embed" id="player">
    <iframe
      width="853"
      height="480"
      src="https://www.youtube.com/watch?v=SsrYSeg371s&feature=youtu.be?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
      allowfullscreen
      allowtransparency
      allow="autoplay"
    ></iframe>
  </div>

  <script>
    const controls = [
      "play-large", // The large play button in the center
      //'restart', // Restart playback
      "rewind", // Rewind by the seek time (default 10 seconds)
      "play", // Play/pause playback
      "fast-forward", // Fast forward by the seek time (default 10 seconds)
      "progress", // The progress bar and scrubber for playback and buffering
      "current-time", // The current time of playback
      "duration", // The full duration of the media
      "mute", // Toggle mute
      "volume", // Volume control

      "fullscreen", // Toggle fullscreen
    ];

    const player = new Plyr("#player", {
      controls,
      settings: ["quality"],
      quality: {
        default: "1080",
      },
    });
    var player = new Plyr("#player", { controls });
  </script>
</body> -->
