<ion-header>
  <ion-toolbar
    color="primary"
    mode="ios"
    *ngIf="storageService.instituteName.length > 0"
  >
    <ion-title>{{storageService.instituteName}}</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons class="menuButton" slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Study Material</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card
    class="ion-margin ion-padding"
    (click)="onPDFCategoryClick('GetUploadTextbooks', 'UploadTextbooksPDF', 'Text Books')"
  >
    <ion-card-subtitle>Text Books</ion-card-subtitle>
  </ion-card>
  <ion-card
    class="ion-margin ion-padding"
    (click)="onPDFCategoryClick('GetUploadReferencebooks', 'UploadReferencebooksPDF', 'Reference Books')"
  >
    <ion-card-subtitle>Reference Books</ion-card-subtitle>
  </ion-card>
  <ion-card
    class="ion-margin ion-padding"
    (click)="onPDFCategoryClick('GetNotes', 'UploadNotesPDF','Notes')"
  >
    <ion-card-subtitle>Notes</ion-card-subtitle>
  </ion-card>
  <ion-card
    class="ion-margin ion-padding"
    (click)="onPDFCategoryClick('GetAssignments', 'UploadAssignmentsPDF', 'Assignments')"
  >
    <ion-card-subtitle>Assignments</ion-card-subtitle>
  </ion-card>
  <ion-card
    class="ion-margin ion-padding"
    (click)="onPDFCategoryClick('GetUploadQuestionpapers', 'UploadQuestionpapersPDF', 'Question Papers')"
  >
    <ion-card-subtitle>Question Papers</ion-card-subtitle>
  </ion-card>
  <ion-card
    class="ion-margin ion-padding"
    (click)="onPDFCategoryClick('GetUploadPracticepapers', 'UploadPracticepapersPDF', 'Practice Papers')"
  >
    <ion-card-subtitle>Practice Papers</ion-card-subtitle>
  </ion-card>
  <ion-card
    class="ion-margin ion-padding"
    (click)="onPDFCategoryClick('GetUploadInbuiltquestionbanks', 'UploadInbuiltquestionbankPDF', 'Inbuilt Question Bank')"
  >
    <ion-card-subtitle>Inbuilt Question Bank</ion-card-subtitle>
  </ion-card>
</ion-content>
