<ion-header>
  <ion-toolbar
    color="primary"
    mode="ios"
    *ngIf="storageService.instituteName.length > 0"
  >
    <ion-title>{{storageService.instituteName}}</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons class="menuButton" slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Offline Exam Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> {{apiData}} </ion-content>
