<ion-header>
  <ion-toolbar
    color="primary"
    mode="ios"
    *ngIf="storageService.instituteName.length > 0"
  >
    <ion-title>{{storageService.instituteName}}</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary" mode="ios">
    <ion-icon
      style="padding-left: 10px; font-size: 6vw"
      name="arrow-back"
      slot="start"
      (click)="onBackClick()"
    ></ion-icon>
    <ion-title>{{notificationDetail.NDate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding"> {{notificationDetail.NBody}} </ion-content>
