<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input placeholder="Enter Email or Phone" [(ngModel)]="loginCredentials"></ion-input>
  </ion-item>
  <ion-button (click)="onLoginClick()" expand="block" fill="solid" color="primary"> Login </ion-button>

  {{error}}
</ion-content> -->

<div class="login">
  <div heading-column-lr>
    <h1 big-heading>Login</h1>
    <!-- <h2 small-heading (click)="onRegisterClick()">REGISTER</h2> -->
    <p class="welcome">Welcome to OEK Student App</p>
  </div>

  <form name="loginForm" #loginForm="ngForm">
    <ion-item transparent>
      <!-- <ion-icon icon-small name="person" color="primary"></ion-icon> -->
      <ion-input
        name="emailId"
        [(ngModel)]="loginCredentials"
        #emailId="ngModel"
        email
        required
        type="text"
        placeholder="Email or Phone"
      ></ion-input>
    </ion-item>
    <!-- <div *ngIf="emailId.invalid && (emailId.dirty || emailId.touched)">
      <ion-text color="danger" *ngIf="emailId.errors.required"
        >Enter email or phone number</ion-text
      >
    </div> -->
    <div *ngIf="showErrorMessage">
      <ion-text color="danger">User not registered</ion-text>
    </div>
    <div *ngIf="showValidationMessage">
      <ion-text color="danger">Logout from other device</ion-text>
    </div>

    <!-- <ion-label class="forgot-password" (click)="onForgotPass()"
      >Forgot Password</ion-label
    > -->
    <div style="height: 30px"></div>

    <ion-button
      color="primary"
      class="ion-button-class"
      size="large"
      expand="block"
      fill="solid"
      shape="round"
      (click)="onLoginWithPass()"
    >
      Login With Password
    </ion-button>

    <ion-button
      color="primary"
      class="ion-button-class"
      size="large"
      expand="block"
      fill="solid"
      shape="round"
      (click)="onLoginWithOTP()"
    >
      Login With Code
    </ion-button>
  </form>
</div>


<ion-label class="version"> Version 1.0 </ion-label>
