<ion-content>
  <ion-item>
    <ion-label> Test title </ion-label>
    <ion-label slot="end" class="ion-text-end ion-text-wrap">{{
      notification.Title
    }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label> Test Date </ion-label>
    <ion-label slot="end" class="ion-text-end ion-text-wrap">{{
      notification.TestDate
    }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label> Start Time </ion-label>
    <ion-label slot="end" class="ion-text-end ion-text-wrap">{{
      notification.StartTime
    }}</ion-label>
  </ion-item>
  <ion-item *ngIf="showEndDate">
    <ion-label> End Date </ion-label>
    <ion-label slot="end" class="ion-text-end ion-text-wrap">{{
      notification.EndDate
    }}</ion-label>
  </ion-item>
  <ion-item *ngIf="showEndTime">
    <ion-label> End Time </ion-label>
    <ion-label slot="end" class="ion-text-end ion-text-wrap">{{
      notification.EndTime
    }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label> Time Duration </ion-label>
    <ion-label slot="end" class="ion-text-end ion-text-wrap"
      >{{ notification.Duration }} Minutes</ion-label
    >
  </ion-item>
  <ion-button
    expand="block"
    fill="solid"
    shape="round"
    color="primary"
    [disabled]="notification.Status == 'read'"
    (click)="startTest()"
  >
    Start test
  </ion-button>
</ion-content>
